:root{
    --primary: #3a67c1;
    --secondary: #9655d2;
}

*{
    padding:0;
    margin:0;
}

body{
    font-family:segoe-ui;
}

body.login{
    background-image:url('../assets/images/bg-login.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
}

body.login::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgba(0, 0, 0, .4);
}

.preloader{
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    width:100%;
    height:100vh;
    background-color:#fff;
}

.preloader.active{
    display: block;
}

.preloader .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 55px;
    color: var(--primary);
}

#login{
    position:relative;
    z-index:999;
}

.login #backtoblog a, .login #nav a{
    color:#fff;
}

#login h1 a{
    background:none;
    text-indent: 1px;
    width:auto;
    height:auto;
    color:#fff;
    line-height:42px;
}

/*
Main Styling
*/

nav#navbar{
    position:fixed;
    top:0;
    left:0;
    width:82.5%;
    display:grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items:center;
    padding:0 120px;
    background-color: var(--primary);
    z-index:999;
}

a.brand{
    font-size: 32px;
    color:#fff;
}

ul{
    list-style-type: none;
    padding:0;
}

a{
    text-decoration:none;
}

li.nav-item{
    float:left;
    margin-left:35px;
    font-size: 18px;
    color:#fff;
    padding: 25px 0;
    cursor: pointer;
    position: relative;
}

li.nav-item a{
    color:#fff;
}

ul.dropdown{
    position:absolute;
    top:100%;
    left:0;
    padding: 10px 15px;
    width: 150px;
    background-color:#fff;
    display: none;
}

li.nav-item:hover ul.dropdown{
    display: block;
}

ul.dropdown li{
    margin-bottom:10px;
    text-align: center;
}

ul.dropdown li::after{
    content:'';
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    width:100%;
    display:block;
    padding-top:10px;
}

ul.dropdown li:last-child::after{
    border-bottom: none;
}

ul.dropdown li a{
    color:#000;
}

footer{
    display:grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    background-color:var(--secondary);
    padding: 25px 120px;
    color: #fff;
}

#socmeds ul li{
    float:right;
    margin-left:35px;
    font-size: 18px;
}

#socmeds ul li a{
   color:#fff;
}

header#hero{
    background: linear-gradient(var(--secondary), var(--primary)), url('../assets/images/bg-hero.jpg');
    background-blend-mode: overlay;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    position:relative;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

h1.hero-title{
    font-size: 60px;
    font-weight:bold;
    line-height: 100px;
}

header#hero h3{
    font-size: 18px;
}

header#hero .container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, .5);
    text-align:center;
}

header, section{
    margin-bottom: 5%;
}

.section-title{
    font-size:27px;
    margin-bottom:30px;
}

section#museums .content{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    align-items: start;
}

.museum-wrapper{
    position:relative;
    text-align: center;
    cursor: pointer;
}

.museum-wrapper a{
    color:#fff;
}

.museum-wrapper:first-child{
    grid-column: 1/3;
}

.museum-wrapper img{
    width:100%;
    height:320px;
    filter: brightness(.4);
    transition: all .4s;
}

.museum-wrapper:hover img{
    filter: brightness(1);
}

.museum-wrapper h3{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    opacity: 1;
    transition: all .4s;
    font-size: 22px;
}

.museum-wrapper:hover h3{
    opacity: 0;
}

.flex-2{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-2 #news{
    flex: 48%;
    max-width: 48%;
}

.flex-2 #cover{
    flex: 48%;
    max-width: 48%;
}

#cover img{
    width:100%;
    height:270px;
    cursor: pointer;
}

.cover-wrapper{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    align-items: start;
}

#news ul li img{
    width:100%;
    height:270px;
    margin-bottom: 10px;
}

#news ul li{
    margin-bottom: 35px;
}

#news ul li:last-child{
    margin-bottom :0;
}
#news ul li p{
    margin-top:14px;
    margin-bottom: 30px;
}

a.more{
    background-color: var(--secondary);
    border:none;
    padding:7px 12px;
    outline:none;
    border-radius: 10px;
    color:#fff;
}

a.btn-link{
    background-color: var(--primary);
    border:none;
    padding:10px 16px;
    outline:none;
    border-radius: 10px;
    font-size:18px;
    color:#fff;
    margin:0 auto;
    margin-top: 25px;
}

section#page-news .content{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

section#page-news .content .news-wrapper{
    flex: 32%;
    max-width: 32%;
}

section#page-news .content .news-wrapper img{
     width:100%;
     height: 320px;
    margin-bottom: 10px;
 }

section#page-news .content .news-wrapper p{
    margin-top: 10px;
    margin-bottom: 8%;
}

#bars{
    display: none;
}

#bars .bar{
     width: 35px;
     height: 4px;
     margin-bottom: 5px;
    background-color:#fff;
 }

#bars .bar:last-child{
    margin-bottom:0;
}

.img-contact{
    width:100%;
    height:320px;
}

.flex-2 .img-contact{
    flex:47%;
    max-width: 47%;
}

.flex-2 .content{
    flex:50%;
    max-width: 50%;
}

section#contact{
    margin-bottom:0;
    background-color:var(--secondary);
    padding: 30px 0;
}