nav#navbar{
    padding: 20px 50px;
    width:85%;
}

ul.navbar-ul{
    display: none;
}

#bars{
    display:block;
}

.container{
    width: 80%;
}

h1.hero-title{
    font-size: 45px;
    line-height: 75px;
}

section#museums .content{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
    align-items: start;
}

section#museums{
    margin-bottom: 15%;
}

.museum-wrapper:first-child{
    grid-column: 1/3;
}

.flex-2 #news{
    flex: 100%;
    max-width: 100%;
    margin-bottom:15%;
}

.flex-2 #cover{
    flex: 100%;
    max-width: 100%;
}

.section-title{
    text-align: center;
}

section#page-news .content .news-wrapper{
    flex: 100%;
    max-width: 100%;
    margin-bottom: 10%;
}

footer{
    padding: 20px 50px;
}

footer #socmeds ul li{
    margin-left: 20px;
}